*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'geosanslightregular';
    src: url('../fonts/geosanslight-oblique-webfont.woff'),
    url('../fonts/geosanslight-oblique-webfont.woff2'),
    url('../fonts/geosanslight-webfont.woff'),
    url('../fonts/geosanslight-webfont.woff2');
}
body{
    font-family: GeosansLight;
    background-image: url("../images/motif.jpg");
    width: 100%;
    background-color: black;
    /*min-height: 900px;*/
}
h1{
    font-size: 80px;
    color: #0fb5b5;
    margin-top: 100px;
    margin-left: 2.604166666666667%;
    /*background-color: red;*/
    float: left;
}



/*MENU*/
#menu{
    width:300px;
    /*height: 100%;*/
    /*min-height: 900px;*/
    background-color: #0FB5B5;
    color: white;
    font-size: 3rem;
    /*position: fixed;*/
    float: left;
}
.logo{
    width: 83.33333333333334%;
    display: block;
    margin: auto;
    padding-top: 100px;
    border-bottom: 2px solid white;
    padding-bottom: 50px;
}
#menu ul{
    list-style-type: none;
    text-align: center;
    margin-top: 100px;
}
#menu li {
    margin-bottom: 20px;
}
#menu a:hover{
    border-bottom: white 2px solid;
}
.choix{
    background-color: white;
    border-bottom: #0FB5B5 solid 4px;
    border-left: #0FB5B5 solid 5px;
    border-top: #0FB5B5 solid 4px;
    color: #0FB5B5;
}
#test{
    width: 0px;
    height: 0px;
    float: right;
    border-top: transparent solid 36px;
    border-left: #0FB5B5 solid 36px;
    /*border-right: transparent solid 36px;*/
    border-bottom: transparent solid 36px;
    position: relative;
    left: 36px;
    top: -7px;
}
#test2{
    width: 0px;
    height: 0px;
    border-top: transparent solid 29px;
    border-left: white solid 29px;
    /*border-right: transparent solid 30px;*/
    border-bottom: transparent solid 29px;
    position: relative;
    left: -36px;
    top: -29px;
}
#reseaux{
    /*margin-bottom: 191px;*/
    /*margin-top: 50px;*/
    text-align: center;
}
#reseaux img{
    width: 11.666666666666666%;
    height: 11.666666666666666%;

}
#menu p{
    font-size: 0.8rem;
    text-align: center;
}
#menu a{
    color: white;
    text-decoration: none;
    text-align: center;
}




/*ACCUEIL*/
section{
    margin-top: 100px;
    margin-left: 2.604166666666667%;
    /*background-color: red;*/
    float: left;
    min-height: 1900px;
    overflow: scroll;

}
section h1{
    margin-left: 540px;
    font-size: 80px;
    color: #0fb5b5;
}
#article{
    width: 750px;
    background-color: white;
    box-shadow: 8px 8px 12px #929292;
    padding: 30px;
    display: block;
    overflow: auto;
}
#image{

}
#article img{
    display: inline-block;
    width: 270px;
    box-shadow: 1px 1px 12px #929292;
    margin-right: 50px;
    float: left;
}#contenu-article{
    display: block;
 }
#contenu-article h3{
    font-size: 45px;
    color: #0fb5b5;
}
#contenu-article h4{
    font-size: 24px;
    color: #0fb5b5;
}
#contenu-article p{
    text-align: justify;
}
#contenu-article a{
    font-size: 18px;
    color: #0fb5b5;
}
#contenu-article span{
    text-align: right;
}
.info{
    clear: left;
    align: right;
}

aside{
    /*background-color: yellow;*/
    float: left;
    margin-left: 7.5%;
    width: 400px;
    border-left: solid 10px #0FB5B5;
    padding-left: 7.5%;
    margin-top: 153px;
}
aside h2{
    margin-left: 50px;
    font-size: 45px;
    color: #0fb5b5;
}
#dernier-note{
    width: 300px;
    background-color: white;
    box-shadow: 8px 8px 12px #929292;
    padding: 20px;
    display: block;
}
#dernier-note img{
    width: 300px;
}
#dernier-note h4{
    font-size: 20px;
    color: #0fb5b5;
    float: left;
}
#dessous ul{
    margin:10px;
    width: 100%;
}
#dessous li{
    list-style-type: none;
    display: inline;
}
#dessous li:first-child{
    list-style-type: none;
    display: inline;
    margin-right: 65%;
}
.commentaire{
    width:20px ;
    height:20px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.coeur{
    width:20px ;
    height:20px;
    background-color: orchid;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.aimer{
    width:20px ;
    height:20px;
    background-color: olive;
    color: white;
    text-align: center;
    border-radius: 10px;
}



/*PAGE CONTACT*/
#coordonnee{
    margin-top: 100px;
    margin-left: 2.604166666666667%;
    float: left;
    width: 180px;
    background-color: white;
    box-shadow: 8px 8px 12px #929292;
    padding: 30px;
}
#coordonnee h2{
    font-size: 1.5rem;
    color: #0fb5b5;
    font-weight: bold;
}
#formulaire{

    margin-top: 200px;
    margin-left: 2.604166666666667%;
    float: left;
    width: 500px;
    border-left: solid 10px #0FB5B5;
    padding-left: 7.5%;
}
fieldset{
    width: 300px;
    background-color: white;
    box-shadow: 8px 8px 12px #929292;
    padding: 30px;
    float: left;
    border: none;

}
fieldset label{
    font-size: 1rem;
    color: #0fb5b5;
    font-weight: bold;
}
fieldset p{
    margin-bottom: 15px;
}


/*PAGE BIOGRAPHIE*/
#bio{
    overflow: none;
    float: left;
}
#dates{
    background-color: #0fb5b5;
    color: white;
    width: 300px;
    float: left;
}