*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'geosanslightregular';
    src: url('../fonts/geosanslight-oblique-webfont.woff'),
    url('../fonts/geosanslight-oblique-webfont.woff2'),
    url('../fonts/geosanslight-webfont.woff'),
    url('../fonts/geosanslight-webfont.woff2');
}
body{
    font-family: GeosansLight;
    background-image: url("../images/motif.jpg");
    width: 100%;

}
/*Menu*/
#menu{
    width:300px;
    height: 100%;
    background-color: #0FB5B5;
    color: white;
    font-size: 3rem;
    /*position: fixed;*/
    float: left;
}
.logo{
    width: 83.33333333333334%;
    display: block;
    margin: auto;
    padding-top: 100px;
    border-bottom: 2px solid white;
    padding-bottom: 50px;
}
#menu ul{
    list-style-type: none;
    text-align: center;
    margin-top: 100px;
}
#menu li {
    margin-bottom: 20px;
}
#menu a:hover{
    border-bottom: white 2px solid;
}
#reseaux{
    /*margin-bottom: 191px;*/
    /*margin-top: 50px;*/
    text-align: center;
}
#reseaux img{
    width: 11.666666666666666%;
    height: 11.666666666666666%;

}
#menu p{
    font-size: 0.8rem;
    text-align: center;
}
#menu a{
    color: white;
    text-decoration: none;
}
.choix a{
    color: #0FB5B5;
    background-color: white;
    border: 2px solid #0FB5B5;
}
.choix a{

}


/*Articles*/
section{
    margin-top: 100px;
    margin-left: 2.604166666666667%;
    /*background-color: red;*/
    float: left;

}
section h1{
    margin-left: 540px;
    font-size: 80px;
    color: #0fb5b5;
}
#article{
    width: 750px;
    background-color: white;
    box-shadow: 8px 8px 12px #929292;
    padding: 30px;
    display: block;
}
#article img{
    display: inline-block;
    width: 270px;
    box-shadow: 1px 1px 12px #929292;
    margin-right: 50px;
    float: left;
}#contenu-article{
    display: block;
 }
#contenu-article h3{
    font-size: 45px;
    color: #0fb5b5;
}
#contenu-article h4{
    font-size: 24px;
    color: #0fb5b5;
}
#contenu-article p{
    text-align: justify;
}
#contenu-article a{
    font-size: 18px;
    color: #0fb5b5;
}
#contenu-article span{
    text-align: right;
}
.info{
    clear: left;
    align: right;
}

aside{
    /*background-color: yellow;*/
    float: left;
    margin-left: 7.5%;
    width: 400px;
    border-left: solid 10px #0FB5B5;
    padding-left: 7.5%;
    margin-top: 153px;
}
aside h2{
    margin-left: 50px;
    font-size: 45px;
    color: #0fb5b5;
}
#dernier-note{
    width: 300px;
    background-color: white;
    box-shadow: 8px 8px 12px #929292;
    padding: 20px;
    display: block;
}
#dernier-note img{
    width: 300px;
}
#dernier-note h4{
    font-size: 20px;
    color: #0fb5b5;
    float: left;
}
#dessous ul li{
    list-style-type: none;
    display: inline;
    margin:10px;
    width: 30px;
}
.commentaire{
    width:20px ;
    height:20px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.coeur{
    width:20px ;
    height:20px;
    background-color: orchid;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.aimer{
    width:20px ;
    height:20px;
    background-color: olive;
    color: white;
    text-align: center;
    border-radius: 10px;
}


